canvas { /* this applies to our game area */
	border:1px solid #888; /* set subtle gray border */
	margin: 10px auto; /* center horizontally and add a bit of margin vertically */
	display:block; /* display as a non-inline block */
	border-radius:12px; /* makes the border round and sound */
}
 
#debug { /* this applies to debug box */
	border:1px solid #888; /* set subtle gray border */
	margin: 10px auto; /* center horizontally and space vertically */
	border-radius:12px; /* makes the border round and sound */
}